.message__body {
  position: fixed;
  top: 25px;
  left: 0;
  right: 0;
  width: 80%;
  max-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 1rem;
  color: white;
  padding: 10px;
  height: 40px;
  z-index: 2;
  border-radius: 8px;
}
.message {
  margin-bottom: 5px;
}
.danger {
  background-color: rgb(223, 50, 27);
}
